<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="Steam Price app for auto emailing when price is lower than specified" />
    <meta name="keywords" content="steam price subscription" />
    <meta name="author" content="Žiga Vidic" />
    
    <link rel="stylesheet" href="/style/default.css" media="screen" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    
    <title>Steam price</title>
</head>
<body>
    <div id="head">{% block head %}{% endblock %}</div>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="foot">{% block foot %}{% endblock %}</div>
</body>
</html>
