{% extends "base.html" %}

{% block content %}
<a href="http://store.steampowered.com/app/620/"><img src="/images/steam_app_id.png" alt="Steam Application ID" /></a>
<form id="subscribeForm" method="post" action="/subscribe">
    <label for="steam_app_id">Steam Application ID</label>
    <input id="steam_app_id" name="steam_app_id" class="integer required" />
    
    <br />
    <label for="price">Notify me when the price is lower than</label>
    <input id="price" name="price" class="integer required" />,
    
    <label for="email">send reminder to this mail</label>
    <input id="email" name="email" type="text" class="required email" />.
    <input id="country" name="country" type="hidden" value="{{country}}" />
    
    <br />
    <input id="subscribeButton" type="submit" value="Subscribe" class="submit" />
</form>

<div class="help">
If you enter an unexistent application ID, you might receive an e-mail telling you that the price is already lower than your desired price.
<a href=# id="explain">?</a>
<div class="hidden">
This could happen because service will try to lookout for a game site, but because of redirect will get 
price from Steam store's home page which isn't right.
</div>
</div>

<div id="message" style="color: green;"></div>

<script src="/script/jquery.numeric.js"></script>
<script src="/script/jquery.validate.min.js"></script>

<script>
$('.integer').numeric(false);

$('.hidden').hide();
$('#explain').click(function() {
    $('.hidden').show();
});

$('#subscribeForm').validate({
    submitHandler: function(form) {
        ajaxSubmit();
    }
});

function ajaxSubmit() {
    $('#message').text('');
    
    $.post('/subscribe', 
        $('#subscribeForm').serialize(), 
        function(data) {
            console.log(data);
            if (data === 's') {
                $('#message').text('Subscription recieved. You will recieve an email when price is lower than that.');
            }
        }, 
        'text');
}
</script>
{% endblock %}

{% block foot %}
<div class="help disclaimer">Disclaimer: I will not sell, share, or rent your email address.</div>
<a href="mailto:zigomir@gmail.com">Feedback? (careful, mailto link)</a>
{% endblock %}