{% extends "base.html" %}

{% block content %}
<a href="http://store.steampowered.com/app/620/"><img src="/images/steam_app_id.png" alt="Steam Application ID" /></a>
<form id="subscribeForm" method="post" action="/subscribe">
    <label for="steam_app_id">Steam Application ID</label>
    <input id="steam_app_id" name="steam_app_id" class="integer required" value="620" />
    <span class="steam_app_title" id="steam_app_title"></span>
    
    <br />
    <label for="price">Notify me when the price is lower than</label>
    <input id="price" name="price" class="integer required" value="10" />
    <span id="currency_sign"></span>,
    
    <label for="email">send reminder to this mail</label>
    <input id="email" name="email" type="text" class="required email" value="zigomir@gmail.com" />.
    <input id="country" name="country" type="hidden" value="{{country}}" />
    
    <br />
    <input id="subscribeButton" type="submit" value="Subscribe" class="submit" />
    <span id="message" style="color: green;"></span>
</form>

<script src="/script/jquery.numeric.js"></script>
<script src="/script/jquery.validate.min.js"></script>

<script>
$('#subscribeButton').prop('disabled', true);
$('.integer').numeric(false);

var price_now = 0;

$('#subscribeForm').validate({
    submitHandler: function(form) {
        // custom validation
        if (price_now < $('#price').val()) {
            $('#message').text('Price already lower than ' + $('#price').val() + $('#currency_sign').text());
        } else {
            ajaxSubmit();
        }
    }
});

function ajaxSubmit() {
    $('#message').text('');
    
    $.post('/subscribe', 
        $('#subscribeForm').serialize(), 
        function(data) {
            if (data === 's') {
                $('#message').text('Subscription recieved. You will recieve an email when price is lower than ' + $('#price').val() + $('#currency_sign').text());
            }
        }, 
        'text');
}


$('#steam_app_id').change(function(){
    $('#subscribeButton').prop('disabled', true);
    ajaxGetAppTitle($(this).val());
});

function ajaxGetAppTitle(steam_app_id) {
    $.get('/app_title/' + steam_app_id, 
        function(data) {
            if(data['title'] != 'null') {
                $('#subscribeButton').prop('disabled', false);
                $('#steam_app_title').text(data['title'] + ' - ' + data['price_with_currency']);
                $('#currency_sign').text(data['currency_sign']);
                price_now = data['price'];
            } else {
                $('#steam_app_title').text('No game with this ID');
            }
        }, 
        'json');
}
</script>
{% endblock %}

{% block foot %}
<div class="help disclaimer">Disclaimer: I will not sell, share, or rent your email address.</div>
<a href="mailto:zigomir@gmail.com">Feedback? (careful, mailto link)</a>
{% endblock %}