{% extends "base.html" %}

{% block content %}
<h1>Steam'o'minder</h1>
<a href="http://store.steampowered.com/app/620/"><img src="/images/steam_app_id.png" alt="Steam Application ID" /></a>
<form id="subscribeForm" method="post" action="/subscribe">
    <div>
        <label for="email">Please send notification to</label>
        <input id="email" name="email" type="text" class="required email" />
    </div>
    
    <div id="steam_app_id_div">
        <label for="steam_app_id">when</label>
        <input id="steam_app_id" name="steam_app_id" type="text" class="integer required" placeholder="AppID" />
    </div>
    
    <div id="animation">
         <div id='block_1' class='animation_block'></div>
         <div id='block_2' class='animation_block'></div>
         <div id='block_3' class='animation_block'></div>
    </div>
    
    <div id="less_than_div">
        <span class="steam_app_title" id="steam_app_title"></span>
        <label for="price">is less than</label>
        <input id="price" name="price" type="text" class="integer required" maxlength="2" />
        <span id="currency_sign"></span>
    </div>
    
    <div style="clear: both;">
        <input id="country" name="country" type="hidden" value="{{country}}" />
        <input id="subscribeButton" type="submit" value="Subscribe" class="submit button" />
        <span id="message" style="color: green;"></span>
    </div>
</form>

<script src="/script/jquery.numeric.js"></script>
<script src="/script/jquery.validate.min.js"></script>

<script>
$('#subscribeButton').prop('disabled', true);
$('.integer').numeric(false);

var price_now = 0;

$('#subscribeForm').validate({
    submitHandler: function(form) {
        // custom validation
        if (price_now < $('#price').val()) {
            $('#message').text('Price already lower than ' + $('#price').val() + $('#currency_sign').text());
        } else {
            ajaxSubmit();
        }
    }
});

function ajaxSubmit() {
    $('#message').text('');
    
    $.post('/subscribe', 
        $('#subscribeForm').serialize(), 
        function(data) {
            if (data === 's') {
                $('#message').text('Subscription recieved. You will recieve an email when price is lower than ' + $('#price').val() + $('#currency_sign').text());
            }
        }, 
        'text');
}


$('#steam_app_id').change(function(){
    $('#subscribeButton').prop('disabled', true);
    $('#steam_app_title').text('');
    $('#animation').show();
    
    var steam_app_id = $(this).val();
    if (steam_app_id.length > 0) {
        ajaxGetAppTitle(steam_app_id);
    }
});

function ajaxGetAppTitle(steam_app_id) {
    $.get('/app_title/' + steam_app_id, 
        function(data) {
            if(data['title'] != 'null') {
                $('#subscribeButton').prop('disabled', false);
                $('#steam_app_title').text(data['title'] + ' (' + data['price_with_currency'] + ')');
                $('#currency_sign').text(data['currency_sign']);
                price_now = data['price'];
            } else {
                $('#steam_app_title').text('No game with this ID');
            }
            $('#animation').hide();
        }, 
        'json');
}
</script>
{% endblock %}

{% block foot %}
<div class="help disclaimer">Disclaimer: I will not sell, share, or rent your email address.</div>
<a href="mailto:zigomir@gmail.com">Feedback? (careful, mailto link)</a>
{% endblock %}